extends layout

block content
  .container(style= "margin-top: 30px;")
    .row
      .col-md-10
        h1 Crafatar
        hr
        p Welcome to Crafatar, an API for Minecraft's faces!

        h2 API
        hr

        h3 Endpoint
        p
          | Replace 
          mark.green uuid
          |  with a Mojang UUID to get the related head. All images are PNGs.
        .well.code
          | &lt;img src="#{domain}/avatars/
          mark.green uuid
          | "&gt;

        h3 Parameters
        h4 size
        p The size of the image in pixels, 1 - 512. <br> Default is 180.
        h4 default
        p The image to be returned when the uuid has no skin. <br> Valid options are 
          a(href="/avatars/00000000000000000000000000000000?default=steve") steve
          |  or 
          a(href="/avatars/00000000000000000000000000000000?default=alex") alex
          | .<br> Otherwise, a 404 with no content is returned.
        h4 helm
        p Get an avatar with the second (helmet) layer applied. <br> The content of this parameter is ignored

        h3 HTTP headers
        p Images will come with these HTTP headers, useful for debugging.
        h4 Response-Time
        p The time, in seconds, it took Crafatar to process the request.
        h4 X-Storage-Type
        p Either 'local' or 'downloaded'. Local means that Crafatar already had the image on disk, while downloaded means that it was retrieved from Mojang's skin servers.

        h3 Examples
        p Get jeb_'s avatar, 180 × 180 pixels
        img(src="/avatars/853c80ef3c3749fdaa49938b674adae6")
        .well.code &lt;img src="#{domain}/avatars/853c80ef3c3749fdaa49938b674adae6"&gt;
        p Get jeb_'s avatar, 64 × 64 pixels
        img(src="/avatars/853c80ef3c3749fdaa49938b674adae6?size=64")
        .well.code &lt;img src="#{domain}/avatars/853c80ef3c3749fdaa49938b674adae6?size=64"&gt;
        p Get jeb_'s helmet avatar, 64 × 64 pixels
        img(src="/avatars/853c80ef3c3749fdaa49938b674adae6?size=64&helm")
        .well.code &lt;img src="#{domain}/avatars/853c80ef3c3749fdaa49938b674adae6?size=64&amp;helm"&gt;
        p Get jeb_'s avatar, 64 × 64 pixels, or fall back to steve if his avatar is not found
        img(src="/avatars/00000000000000000000000000000000?default=steve&size=64")
        .well.code &lt;img src="#{domain}/avatars/853c80ef3c3749fdaa49938b674adae6?default=steve&amp;size=64"&gt;
      .col-md-2
        .sideface.redstone_sheep(title="redstone_sheep")
        .sideface.Jake0oo0(title="Jake0oo0")
        .sideface.Notch(title="Notch")
        .sideface.sk89q(title="sk89q")
        .sideface.md_5(title="md_5")
    hr
    small Site version 
    a(href="https://github.com/Jake0oo0/crafatar/commit/#{commit}") #{commit}